<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tools
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tools</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <img alt="Yarn" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG-1041.JPG?alt=media&token=3e05933f-5e0f-4f8f-9a14-c55cb9a240c0"/>
  <ion-card-header>
    <ion-card-title>Yarn</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    There are many different types of yarn and many different sizes!
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Hooks" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG-1042.JPG?alt=media&token=ab177139-f130-4724-8d25-3a5c763f419c"/>
  <ion-card-header>
    <ion-card-title>Hooks</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    There are many different types of hooks and many different sizes!
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Scissors" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1043.JPG?alt=media&token=141784ec-f83e-4b2f-8a36-c1b5491b3b67"/>
  <ion-card-header>
    <ion-card-title>Stitch Marker</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    There are many different types of stitch marker any will do!
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Stitch Markers" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1046.JPG?alt=media&token=a5746996-8525-4dfe-87f3-131f71a3f19c"/>
  <ion-card-header>
    <ion-card-title>Scissors</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    Any kind will do, but smaller scissors are recommended.
  </ion-card-content>
</ion-card>
  
</ion-content>

