<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Glossary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Glossary</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Chain</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "ch" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Slip Stitch</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "sl st" on a pattern
  </ion-card-content>
</ion-card>
  
  <ion-card>
  <ion-card-header>
    <ion-card-title>Single Crochet</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "sc" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Double Crochet</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "dc" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Chain</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "ch" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Yarn Over</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "yo" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Half Double Crochet</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "hdc" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>2 Stitches together</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "2tog" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Stitch</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "st" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Treble Crochet</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "tr" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Through back loop</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "tbl" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Space</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "sp" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Skip</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "sk" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Shell</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "sh" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Increase</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "inc" on a pattern
    Placing 2+ stitches in the the same stitch
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Decrease</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "dec" on a pattern
    Combining 2+ stitches to create one stitch
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Repeat</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Seen as "rep" on a pattern
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Tail End</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    The short loose end.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Working End</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    The long end that is still attached to the yarn.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Skein</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    The ball of yarn.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Yarn Over</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Putting the yarn over the top of the hook.
  </ion-card-content>
</ion-card>

</ion-content>
