<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutorials
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tutorials</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
  <img alt="Slip Knot" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1061.JPG?alt=media&token=7bdabb9b-9fb2-47e7-a02c-c366b681c5d3"/>
  <ion-card-header>
    <ion-card-title>Slip Knot</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    1. Drape the yarn over the thumb and index finger of your non-dominant
    hand, leaving the long end shorter to create a "tail," and the long
    end attached to your yarn "working end".
    2. Using your domanate hand, place tail end over the working end to 
    create a loop.
    3-4. Pinch the working end of the yarn with your dominant hand, and
    use the thumb and index finger of your non-dominant hand to pull the
    stand up through the loop made by the yarn without letting go of the  
    working end.
    5-6. Holding the working end with your non-dominant hand. With your 
    dominant hand, pull the tail end until your original loop fit onto your
    crochet hook and new loopis formed.
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Chain" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1062.JPG?alt=media&token=fa3cfea3-0409-4f53-a7b4-bb8ae0e4cead"/>
  <ion-card-header>
    <ion-card-title>Chain</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    1. With a slip knot on your hook, bring the working yarn strand from
    the back, over the top of the hook.
    2-4. Using the hooked part of the hook,grab the yarn and pull through thee loop currently on the hook. Repeat
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Single Crochet" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1063.JPG?alt=media&token=0a2b4bd1-8c2f-432f-8ef3-8b72d7ab2cff"/>
  <ion-card-header>
    <ion-card-title>Single Crochet</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    1. Insert hook into previously made chain/stitch.
    2-4. Yarn over, pull the yarn back out of the stitch.
    5-7. Yarn over, pull the yarn through both loops on hook.
    Repeat
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Half Double Crochet" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1064.JPG?alt=media&token=dc7ba36b-bc54-4226-a474-bfc10f5a0be8"/>
  <ion-card-header>
    <ion-card-title>Half Double Crochet</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    1-2. Yarn over and insert the hook into previously
    made chain/stitch.
    3-4. Yarn over and pull the yarn back out through the 
    stitch.
    5-7. Yarn over and pull the yarn through all three
    loops on the hook.
    Repeat
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Double Crochet" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1068.jpg?alt=media&token=95f6d71b-310c-468e-9204-b6d723525f1f"/>
  <ion-card-header>
    <ion-card-title>Double Crochet</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    1-2. Yarn over and insert the hook into the previously
    made chain/stitch.
    3-5. Yarn over and put the yarn back out through the stitch.
    6-8. Yarn over and pull the yarn through the first two loops
    on hook.
    9-11. Yarn over and pull the yarn through the last two loops
    on hook.
    Repeat
  </ion-card-content>
</ion-card>

<ion-card>
  <img alt="Slip Stitch" src="https://firebasestorage.googleapis.com/v0/b/crochetbunnys-124bd.appspot.com/o/IMG_1067.JPG?alt=media&token=71db0c05-e04b-45ec-9274-f47f1ce7a1f8"/>
  <ion-card-header>
    <ion-card-title>Slip Stitch</ion-card-title>
   
  </ion-card-header>

  <ion-card-content>
    1-2. Insert the hook into chain/stitch.
    3-4. Yarn over and pull the yarn out of the chain or stitch.
    5-7. Using the hook, grab the first loop and pull it through
    the second loop.
    Repeat
  </ion-card-content>
</ion-card>

</ion-content>
